<configuration>

    <!-- Define log pattern -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

    <appender name="AUDIT_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/Desktop/audit_logs.log</file>
        <encoder>
            <pattern>
                %n
                {
                    "dateTime" : "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                    "thread": "[%thread]",
                    "level" : "%-5level",
                    "logger" : "%logger{36}",
                %msg
                }

            </pattern>
        </encoder>
    </appender>

    <!-- Logger for RESPONSE requests -->
    <logger name="com.json.jsonextraction.Services.PersonService" level="INFO"  >
        <appender-ref ref="AUDIT_FILE" />
    </logger>


    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="AUDIT_FILE" />


        <!--        <appender-ref ref="FILE" />-->
    </root>

</configuration>


